.footer-social {
  display: flex;
  align-items: center;

  @media #{$mobile-widths-only} {
    margin-bottom: 40px;
    padding-top: 5px;
  }
}

.footer-social__item {

  &:hover {

    .footer-social__item-svg {
      fill: $green-color;
    }
  }
  &:active {

    .footer-social__item-svg {
      fill-opacity: 0.3;
    }
  }
}

.footer-social__item--fb {
  margin-left: 40px;
  margin-right: 40px;
}

.footer-social__item-text--hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
