@mixin form-elements-style() {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: $black-color;

  @media #{$tablet-widths} {
    font-size: 19px;
  }
}

@mixin text-decoration($fonts-size: 16px, $lient-height: 27px) {
  font-size: $fonts-size;
  line-height: $lient-height;
}

@mixin container() {
  min-width: 320px;
  margin: 0 auto;

  @media #{$tablet-widths} {
    width: 768px;
  }

  @media #{$desktop-widths} {
    width: 1250px;
  }
}

@mixin wrapper() {
  min-width: 260px;
  margin: 0 30px;

  @media #{$tablet-widths} {
    width: 668px;
    margin: 0 50px;
  }

  @media #{$desktop-widths} {
    width: 1050px;
    margin: 0 100px;
  }
}
