.production-process {
  @include container();
  margin-bottom: 60px;

  @media #{$desktop-widths} {
    margin-bottom: 100px;

    display: flex;
    justify-content: flex-end;
    position: relative;
  }
}

.production-process__wrapper {
  border: 1px solid #ececec;

  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: 0 10px 30px rgba(#c6c6c6, 0.9);
  }

  @media #{$desktop-widths} {
    height: 455px;
    flex-wrap: wrap;
  }
  transition: 0.3s;
}

.production-process__title {
  @include text-decoration(17px, 23px);
  padding-left: 89px;
  position: relative;
  top: 11px;
  margin-bottom: 36px;

  &::before {
    content: url("../img/icon-video.svg");
    position: absolute;
    left: 33px;
    top: 6px;
  }

  @media #{$tablet-widths} {
    @include text-decoration(20px, 24px);
    padding-left: 106px;
    padding-right: 20px;
    margin: 0;
    margin-bottom: 42px;

    order: 1;

    &::before {
      left: 40px;
      top: -5px;
    }
  }
  @media #{$desktop-widths} {
    width: 350px;
    box-sizing: border-box;
    margin-top: 84px;
    padding-left: 69px;
    padding-right: 75px;

    &::before {
      left: 71px;
      top: -54px;
    }
  }
}

.production-process__video {
  width: 260px;
  height: 150px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 15px;

  display: flex;

  @media #{$tablet-widths} {
    width: 668px;
    height: 455px;
    margin: 0;
    margin-bottom: 27px;

    order: 0;
  }
  @media #{$desktop-widths} {
    width: 682px;
    margin: 0;

    flex-basis: 100%;

  }
}


.production-process__video-inner {
  width: 100%;
  height: auto;
}

.production-process__video-svg {
  position: absolute;
  z-index: 5;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
  }
  transition: 0.2s;
}

.production-process__discr {
  @include text-decoration(13px, 24px);
  color: $gray-color;
  padding-left: 32px;
  padding-right: 42px;
  margin-bottom: 25px;

  @media #{$tablet-widths} {
    @include text-decoration(15px, 30px);
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 36px;


    order: 1;
  }
  @media #{$desktop-widths} {
    width: 350px;
    box-sizing: border-box;
    padding-left: 69px;

    flex-grow: 1;
  }
}

.production-process__order {
  align-self: center;
  width: 190px;
  margin-bottom: 30px;

  @media #{$tablet-widths} {
    width: 585px;

    order: 1;
  }
  @media #{$desktop-widths} {
    width: 230px;
    margin-left: 71px;
    margin-bottom: 61px;

    align-self: flex-start;
  }
}
