.to-order {
  min-width: 320px;
  margin-bottom: 25px;

  @media #{$tablet-widths} {
    margin-bottom: 50px;
  }
}

.to-order__wrapper {
  min-width: 260px;
  margin: 0 30px;
  margin-bottom: 25px;

  @media #{$tablet-widths} {
    width: 668px;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  @media #{$desktop-widths} {
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
}

.to-order__descr {
  @include text-decoration(13px, 24px);
  color: $gray-color;
  margin: 0;

  @media #{$tablet-widths} {
    @include text-decoration(17px, 30px);
  }
  @media #{$desktop-widths} {
    padding-left: 174px;
    padding-right: 160px;
  }
}

.to-order__form-type {

  @media #{$tablet-widths} {
    margin-bottom: 23px;
  }
  @media #{$desktop-widths} {
    margin-bottom: 22px;
  }
}

.to-order__form-color {
  margin-bottom: 10px;

  @media #{$tablet-widths} {
    padding-top: 50px;
    padding-bottom: 25px;
    background-color: $bg-color;
    margin-bottom: 54px;
  }
  @media #{$desktop-widths} {
    margin-bottom: 53px;
  }
}

.to-order__form-full-name {
  margin-bottom: 9px;

  @media #{$tablet-widths} {
    margin-bottom: 24px;
  }
}

.to-order__form-phone {
  margin-bottom: 10px;

  @media #{$tablet-widths} {
    background-color: $bg-color;
    padding-top: 52px;
    margin-bottom: 0;
  }
}

.to-order__form-email {
  margin-bottom: 10px;

  @media #{$tablet-widths} {
    background-color: $bg-color;
    padding-bottom: 21px;
    margin-bottom: 51px;
  }
  @media #{$desktop-widths} {
    margin-bottom: 52px;
  }
}

.to-order__form-add {
  margin-bottom: 16px;

  @media #{$tablet-widths} {
    margin-bottom: 53px;
  }
  @media #{$desktop-widths} {
    margin-bottom: 49px;
  }
}

.to-order__form-note {
  margin: 0 30px;
  margin-bottom: 30px;
  min-width: 260px;

  display: flex;
  flex-direction: column;

  @media #{$tablet-widths} {
    width: 668px;
    margin: 0 auto;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media #{$desktop-widths} {
    width: 1050px;
    margin: 0 auto;
  }
}
