.adress-table {
  margin-bottom: 50px;

  tbody {
    @media #{$tablet-widths} {
      display: flex;
    }
    @media #{$desktop-widths} {
      flex-direction: column;
    }
  }
}

.adress-table__table-row {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }

  @media #{$desktop-widths} {
    margin-bottom: 30px;
  }
}

.adress-table__table-data {
  @include text-decoration(15px, 30px);
  min-width: 70px;
  vertical-align: top;

  @media #{$tablet-widths} {
    @include text-decoration(17px, 30px);
  }

  &--underline {
    border-bottom: 1px solid $green-color;
  }
}
