.btn {
  @include text-decoration(17px, 20px);
  font-weight: bold;
  box-sizing: border-box;
  display: block;
  width: 260px;
  height: 50px;
  border: 2px solid $gray-color;
  text-decoration: none;
  color: $gray-color;
  padding-top: 13px;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    background-color: #444444;
    color: #fff;
  }
  &:active {
    color: rgba(#fff, 0.3);
  }
}
