.catalog {
  @include container();

  @media #{$desktop-widths} {
    margin-bottom: 60px;
  }
}

.catalog__items-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media #{$desktop-widths} {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.catalog__item {
  border: 1px solid $bg-color;

  @media #{$desktop-widths} {
    width: 315px;
  }
}
