.catalog {
  @include container();

  @media #{$tablet-widths} {
    margin-bottom: 49px;

  }
  @media #{$desktop-widths} {
    margin-bottom: 58px;
  }
}

.catalog__item {
  transition: 0.3s;
}

.catalog__item-link {
  background-color: #e4e4e4;
  height: 195px;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 28px;
  display: block;

  @media #{$tablet-widths} {
    width: 334px;
    height: 334px;
    margin-bottom: 0;
  }

  @media #{$desktop-widths} {
    width: 315px;
    height: 462px;
  }
}

.catalog__title--hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.catalog__items-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media #{$desktop-widths} {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.catalog__item {
  border: 1px solid $bg-color;

  @media #{$desktop-widths} {
    width: 315px;
  }

  &:hover {
    box-shadow: 0 10px 30px rgba(#c6c6c6, 0.9);
  }
}
