.contacts {
  @include container();
  margin-bottom: 50px;
  padding-top: 50px;

  display: flex;
  flex-direction: column;

  @media #{$tablet-widths} {
    padding-top: 50px;
  }
}

.contacts__title {
  @include text-decoration(18px, 30px);
  font-weight: bold;

  @media #{$tablet-widths} {
    @include text-decoration(43px, 50px)
    margin: 0;
    margin-bottom: 30px;
  }
}

.contacts__map {
  margin-bottom: 30px;
  position: relative;

  &::before {
    position: absolute;
    content: url("/img/icon-map-pin.svg");
    top: 37%;
    left: 40%;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.contacts__write-btn {
  align-self: center;
}
