.form-type {

  display: flex;
  flex-direction: column;
}

.form-type__label {
  @include form-elements-style;

  margin-bottom: 10px;
  padding-left: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  cursor: pointer;
  margin-right: auto;

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid #454545;
    border-radius: 50%;
    left: 0;
    top: 0;
  }


  @media #{$tablet-widths} {
    padding-left: 80px;
    margin-bottom: 30px;
  }
}

.form-type__inner {
  display: none;
}

.form-type__inner:checked {
  display: inline-block;
  width: 0;
  height: 0;
  position: relative;
  outline: none;

  &::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: $green-color;
    border-radius: 50%;
    left: 14px;
    top: 14px;

  }
}
