.form-phone {
  display: flex;
  flex-direction: column;

  @media #{$tablet-widths} {
    padding-left: 167px;
  }
}

.form-phone__number-wrapper {
  display: flex;
}

.form-phone__legend {
  margin-bottom: 12px;
}

.form-phone__number {
  outline: none;
  color: $gray-color;
  position: relative;

  flex-grow: 1;

  @media #{$tablet-widths} {
    @include text-decoration(19px, 18px);
    background-color: $bg-color;
  }
}

.form-phone__number::placeholder {

  @media #{$tablet-widths} {
    @include text-decoration(19px, 18px);
    font-weight: normal;
    background-color: $bg-color;
    padding-left: 17px;
  }
}

.form-phone__svg {
  position: absolute;
  right: 7px;
  top: 33px;
  opacity: 0.3;
  z-index: 1;

  @media #{$tablet-widths} {
    top: 10px;
    right: 26px;
  }
}

.form-phone__number:hover ~ .form-phone__svg {
  opacity: 1;
  fill: $green-color;
}

.form-phone__number:focus ~ .form-phone__svg {
  opacity: 1;
  fill: $green-color;
}
