.form-color {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media #{$tablet-widths} {
    flex-direction: row;
  }
}

.form-color__legend {
  margin-bottom: 24px;
}

.form-color__label {
  @include form-elements-style;
  box-sizing: border-box;
  margin-bottom: 23px;
  padding-left: 62px;
  padding-top: 10px;
  padding-bottom: 10px;

  position: relative;
  cursor: pointer;



  &::before {
    content: "";
    position: absolute;
    width: 36px;
    height: 36px;
    border: 2px solid #454545;
    left: 0;
    top: 0;
  }

  @media #{$tablet-widths} {
    width: 250px;
    margin-bottom: 33px;
    padding-left: 97px;
    padding-top: 15px;

    &::before {
      width: 49px;
      height: 49px;
      left: 18px;
    }
  }
  @media #{$desktop-widths} {
    margin-right: 12px;
  }
}

.form-color__label:nth-child(2n) {

  @media #{$tablet-widths-only} {
    margin-right: 12px;
  }
}

.form-color__label:hover {

  &:before {
    border: 2px solid $green-color;
  }
}

.form-color__label:active {

  &:before {
    border: 2px solid rgba($black-color, 0.3);
  }
}

.form-color__inner {
  display: none;
}

.form-color__inner:checked {
  display: block;
  width: 0;
  height: 0;
  outline: none;

  &::after {
    content: url("/img/icon-tick-small.svg");
    position: absolute;
    left: 8px;
    top: 6px;
  }

  @media #{$tablet-widths} {

    &::after {
      content: url("/img/icon-tick.svg");
      position: absolute;
      left: 28px;
      top: 15px;
    }
  }
}
