.form-full-name {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media #{$tablet-widths} {
    flex-direction: row;
    align-items: baseline;
    padding-left: 167px;
  }
}

.form-full-name__legend {
  margin-bottom: 30px;
}

.form-full-name__label {
  @include form-elements-style;
  margin-right: 10px;
  margin-bottom: 6px;
  cursor: pointer;

  @media #{$tablet-widths} {
    flex-basis: 120px;
    margin-right: 6px;
  }
}

.form-full-name__input {
  flex-grow: 1;
  flex-basis: 70%;
  outline: none;
  color: $gray-color;

  @media #{$tablet-widths} {
    @include text-decoration(19px, 18px);
  }
}

.form-full-name__input:hover {
    border-bottom: 2px solid $green-color;
}

.form-full-name__input::placeholder {

  @media #{$tablet-widths} {
    @include text-decoration(19px, 18px);
    padding-left: 16px;
  }
}
