.form-add {
  display: flex;
  flex-direction: column;

  @media #{$desktop-widths} {
    padding-right: 200px;
  }
}

.form-add__to-order {
  @include text-decoration(17px, 18px);
  border: 2px solid $black-color;
  padding: 15px;
  outline: none;
  color: $gray-color;

  @media #{$tablet-widths} {
    @include text-decoration(19px, 18px);
  }
}

.form-add__to-order:hover {
  border: 2px solid $green-color;
}

.form-add__to-order:focus {
  border: 2px solid $green-color;
}

.form-add__to-order::placeholder {

  @media #{$tablet-widths} {
    @include text-decoration(19px, 18px);
  }
}
