.header-top {
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  @media #{$tablet-widths} {
    height: 88px;

    justify-content: flex-start;
  }
  @media #{$desktop-widths} {
    justify-content: center;
  }
}

.header-top__logo {
  display: flex;
  justify-content: center;
  align-items: center;

  @media #{$tablet-widths} {
    height: 88px;
    border-right: none;

    justify-content: flex-start;
    flex-basis: 320px;
  }
  @media #{$desktop-widths} {
    flex-basis: auto;
  }
}

.header-top__logo-inner {
  display: flex;
  justify-content: center;
  align-items: center;

}

.header-top__logo-inner--not-index {

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.header-top__logo-img {

  @media #{$tablet-widths} {
    width: 113px;
    height: 46px;
  }
  @media #{$desktop-widths} {
    width: 149px;
    height: 72px;
  }
}

.header-top__toggler {
  position: absolute;
  right: 0;

  @media #{$tablet-widths} {
    display: none;
  }

  @media #{$desktop-widths} {
    display: none;
  }
}
