.main-nav {

  @media #{$tablet-widths} {
    position: relative;
    width: 668px;
    margin: 0 auto;
  }

  @media #{$desktop-widths} {
    position: relative;
    width: 1050px;
    margin: 0 auto;
  }
}

.main-nav--closed {

  @media #{$mobile-widths-only} {
    display: none;
  }

}

.main-nav__list-1 {

  @media #{$tablet-widths} {
    position: absolute;
    left: 0;
    top: 20px;

    .main-nav__item {
      border: none;

      &:first-child {
        margin-right: 35px;
      }
    }
  }
  @media #{$desktop-widths} {
    position: absolute;
    left: 0;
    top: -88px;

    .main-nav__item {
      border: none;
      border-right: 1px solid #ececec;
      height: 88px;
      padding-right: 35px;

      &:first-child {
        margin-right: 35px;
      }
      &:last-child {
        border: none ;
      }
    }
  }

}

.main-nav__list-2 {

  @media #{$tablet-widths} {
    position: absolute;
    right: 0;
    top: -88px;

    justify-content: flex-end;

    .main-nav__item {
      height: 88px;
      border-right: 1px solid #ececec;

      &:first-child {
        width: 85px;
        border-bottom: none;
      }

      &:last-child {
        width: 265px;
        border: none;
      }
    }
  }
}

.main-nav__list-3 {
  display: none;

  @media #{$desktop-widths} {
    position: absolute;
    top: 20px;
    width: 350px;

    display: flex;


    .main-nav__item {
      border: none;

      &:first-child {
        margin-right: 60px;
      }
    }

    .main-nav__item-link {
      @include text-decoration(15px, 24px);
    }
  }
}

.main-nav__item {
  list-style-type: none;
  border-top: 1px solid #ececec;
  height: 80px;

  display: flex;
  align-items: center;

  @media #{$tablet-widths} {
    height: auto;
    border-top: none;
    border-left: 1px solid #ececec;
  }
}



.main-nav__item-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  align-items: stretch;
  box-sizing: border-box;
  position: relative;

  @media (max-width: 767px) {
    padding-left: 45px;
  }

  @media #{$tablet-widths} {
    min-width: 0;
    width: auto;
    margin: 0;
    padding: 0;

    justify-content: flex-end;
  }
}

.main-nav__item-search {
  border: none;
  background: none;
  position: absolute;
  left: 10px;
  top: 3px;
  opacity: 0.2;
  cursor: pointer;
  outline: none;
  &:hover {
    opacity: 1;

    .main-nav__svg-path {
      fill: $green-color;
    }
  }

  &:active {
    opacity: 0.3;

    .main-nav__svg-path {
      fill: $green-color;
    }
  }

  @media #{$tablet-widths} {
    left: 25px;
    top: -7px;
  }
}

.main-nav__item-svg {
  z-index: 2;
  cursor: pointer;
  opacity: 0.2;
}

.main-nav__item-svg--basket {
  position: absolute;
  left: -30px;
  top: 3px;

  @media #{$tablet-widths} {
    left: -50px;
  }
}

.main-nav__item-input {
  border: none;

  &::placeholder {
    @include text-decoration(17px, 24px);
    font-weight: bold;
    color: $black-color;
  }

  &:hover {
    &::placeholder {
      color: rgba($black-color, 0.6);
    }
  }

  @media #{$tablet-widths} {
    display: none;
  }
}

.main-nav__item-link {
  @include text-decoration(17px, 24px);
  font-weight: bold;
  text-decoration: none;
  color: $black-color;
  flex-grow: 1;

  &:hover {
    color: rgba($black-color, 0.6);

    .main-nav__item-svg {
      opacity: 1;
    }
    .main-nav__svg-path {
      fill: $green-color;
    }
  }

  &:active {
    color: rgba($black-color, 0.3);

    .main-nav__item-svg {
      fill-opacity: 0.3;
    }
    .main-nav__svg-path {
      fill: $green-color;
    }
  }

  @media #{$tablet-widths} {
    @include text-decoration(15px, 24px);
    flex-grow: 0;
  }

  @media #{$desktop-widths} {
    @include text-decoration(17px, 24px);
    flex-grow: 0;
  }
}

.main-nav__item-link--basket {
  position: relative;

  @media #{$tablet-widths} {
    @include text-decoration(17px, 24px);
  }
}

.main-nav__note {
  display: none;

  @media #{$tablet-widths} {
    @include text-decoration(15px, 24px);
    display: block;
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 1;
  }
}
