.main-nav {
  @media #{$tablet-widths} {
    display: none;
  }

  @media #{$desktop-widths} {
    display: none;
  }

  .main-nav__item {
    list-style-type: none;
    display: flex;
  }

  .main-nav__list {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .main-nav__item {
    border-top: 1px solid #ececec;
    height: 80px;
    display: flex;
    align-items: center;
  }

  .main-nav__item-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    align-items: stretch;
  }

  .main-nav__item-link {
    @include text-decoration(17px, 24px);
    font-weight: bold;
    text-decoration: none;
    color: $black-color;
    flex-grow: 1;

  }
}
