.production-process {
  @include container();
  margin-bottom: 50px;

  @media #{$desktop-widths} {
    margin-bottom: 100px;

    display: flex;
    justify-content: flex-end;
    position: relative;
  }
}

.production-process__wrapper {
  border: 1px solid #ececec;

  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: 0 10px 30px rgba(#c6c6c6, 0.9);
  }

  @media #{$desktop-widths} {
    height: 455px;
    flex-wrap: wrap;
  }
}

.production-process__title {
  padding-left: 90px;
  position: relative;

  &::before {
    content: url("/img/icon-video.svg");
    position: absolute;
    left: 35px;
    top: -6px;
  }

  @media #{$tablet-widths} {
    @include text-decoration(20px, 24px);
    padding-left: 110px;
    padding-right: 20px;

    order: 1;

    &::before {
      left: 40px;
    }
  }
  @media #{$desktop-widths} {
    width: 350px;
    box-sizing: border-box;
    margin-top: 100px;
    padding-left: 40px;
    padding-right: 75px;

    &::before {
      left: 40px;
      top: -60px;
    }
  }
}

.production-process__video {
  width: 260px;
  height: 150px;
  margin: 0 auto;
  position: relative;

  display: flex;

  @media #{$tablet-widths} {
    width: 668px;
    height: 455px;
    margin: 0;
    margin-bottom: 40px;

    order: 0;
  }
  @media #{$desktop-widths} {
    width: 682px;
    margin: 0;

    flex-basis: 100%;

  }
}


.production-process__video-inner {
  width: 100%;
  height: auto;
}

.production-process__video-svg {
  position: absolute;
  z-index: 5;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  cursor: pointer;

  &:hover {
    width: 121px;
    height: 92px;
  }

  &:active {
    opacity: 0.7;
    width: 81px;
    height: 62px;
  }
}

.production-process__discr {
  @include text-decoration(13px, 24px);
  color: $gray-color;
  padding-left: 10px;
  padding-right: 65px;

  @media #{$tablet-widths} {
    @include text-decoration(15px, 30px);
    padding-left: 40px;
    padding-right: 40px;

    order: 1;
  }
  @media #{$desktop-widths} {
    width: 350px;
    box-sizing: border-box;

    flex-grow: 1;
  }
}

.production-process__order {
  align-self: center;
  width: 230px;
  margin-bottom: 30px;

  @media #{$tablet-widths} {
    width: 585px;

    order: 1;
  }
  @media #{$desktop-widths} {
    width: 235px;
    margin-bottom: 60px;
    margin-left: 40px;

    align-self: flex-start;
  }
}
