.promo {
  min-width: 320px;
  background-color: #fafafa;
  position: relative;
  border-top: 1px solid #e7e7e7;
  margin-bottom: 30px;

  @media #{$tablet-widths} {

    &::after {
      content: "";
      position: absolute;
    }
  }

  @media #{$desktop-widths} {
    margin-bottom: 70px;
  }
}

.promo__wrapper {
  @include wrapper();
  margin: auto;
  height: 489px;
  background: #fafafa url('/img/hero-mobile@1x.jpg') no-repeat 50% 0;
  background-size: inherit;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media #{$retina} {
    background-image: url('/img/hero-mobile@2x.jpg');
    background-size: inherit;
  }

  @media #{$tablet-widths} {
    background-image: url('/img/hero-desktop@1x.jpg');
    background-size: cover;

    margin: 0 auto;
    height: 745px;

    justify-content: center;
    align-items: center;

    @media #{$retina} {
      background-image: url('/img/hero-desktop@2x.jpg');
    }
  }
}

.promo__title-wrapper {
  flex-basis: 100%;
  position: relative;
  padding-top: 80px;
  margin-bottom: auto;
  box-sizing: border-box;

  @media #{$tablet-widths} {
    padding: 0 50px;
    padding-top: 165px;

  }
  @media #{$desktop-widths} {
    padding: 0 160px;
    padding-top: 165px;

  }
}

.promo__link-wrapper {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media #{$tablet-widths} {
    flex-direction: row;
    align-items: flex-end;
    align-self: stretch;
    justify-content: space-between;
  }
}

.promo__link-1 {
  background-color: $green-color;

  &::after {
    content: url("/img/icon-interior.svg");
    right: 25px;
    top: 20px;
    opacity: 0.5;
  }

  &:hover {
    background-color: #59d5bc;

    &::after {
      opacity: 0.7;
      top: 15px;
    }

    .promo__link-text {
      position: relative;
      bottom: 5px;
    }
  }

  &:active {

    &::after {
      opacity: 0.3;
    }
    .promo__link-text {
      color: rgba(#fff, 0.3);
    }
  }

}

.promo__link-2 {
  background-color: #56c3b2;

  &::after {
    content: url("/img/icon-toy.svg");
    right: 17px;
    top: 20px;
    opacity: 0.5;
  }

  &:hover {
    background-color: #46c1ae;

    &::after {
      opacity: 0.7;
      top: 15px;
    }
    .promo__link-text {
      position: relative;
      bottom: 5px;
    }
  }
  &:active {

    &::after {
      opacity: 0.3;
    }

    .promo__link-text {
      color: rgba(#fff, 0.3);
    }
  }
}

.promo__link-text {
  margin-left: 30px;
  flex-basis: 130px;
}
