.promo {
  min-width: 320px;
  background: #fafafa url('/img/hero-mobile@1x.jpg') no-repeat 50% 0;
  background-size: auto;
  margin-bottom: 30px;

  @media #{$tablet-widths} {
    background-size: cover;
    border-top: 1px solid #e7e7e7;
  }
  @media #{$desktop-widths} {
    background-size: contain;
    margin-bottom: 70px;
  }
}

.promo__wrapper {
  @include wrapper();
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @media #{$tablet-widths} {
    margin: 0 auto;

    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media #{$desktop-widths} {

  }
}

.promo__title-wrapper {
  flex-basis: 100%;
  position: relative;
  padding-top: 80px;
  margin-bottom: 130px;

  @media #{$tablet-widths} {
    padding: 0 50px;
    padding-top: 165px;

  }
  @media #{$desktop-widths} {
    padding: 0 160px;
    padding-top: 165px;
    margin-bottom: 355px;
  }
}

.promo__link-wrapper {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;

  @media #{$tablet-widths} {
    flex-direction: row;
  }
}

.promo__link-1 {
  background-color: $green-color;

  &::after {
    content: url("/img/icon-interior.svg");
    right: 25px;
    top: 20px;
  }
}

.promo__link-2 {
  background-color: #56c3b2;

  &::after {
    content: url("/img/icon-toy.svg");
    right: 17px;
    top: 20px;
  }
}

.promo__link-text {
  margin-left: 30px;
  flex-basis: 130px;
}
