.promo {
  background: #fafafa url('/img/hero-mobile@1x.jpg') no-repeat 50% 0;
  -webkit-background-size: auto;
  background-size: auto;


  .promo__wrapper {
    @include container();

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 30px;

    @media #{$tablet-widths} {
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media #{$desktop-widths} {
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  .promo__nav-wrapper {
    display: none;

    @media #{$tablet-widths} {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      flex-basis: 100%;
    }
  }

  .promo__nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
  }

  .promo__nav-link {
    text-decoration: none;
    color: $black-color;
    @include text-decoration(15px, 24px);
    font-weight: bold;
    margin-right: 30px;
  }

  .promo__info {
    @include text-decoration(15px, 24px);
    color: $gray-color;
  }

  .promo__title-wrapper {
    flex-basis: 100%;

    @media #{$tablet-widths} {
      padding: 0 50px;
    }
  }
  .promo__title {
    margin: 0;
    padding-bottom: 110px;
    padding-top: 100px;
  }

  .promo__link-wrapper {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;

    @media #{$tablet-widths} {
      width: 668px;
      margin: 0 50px;

      flex-direction: row;
    }
    @media #{$desktop-widths} {
      width: 1050px;
      margin: 0 100px;

      flex-direction: row;
    }
  }

  .promo__link-1 {
    background-color: $green-color;
  }

  .promo__link-2 {
    background-color: #56c3b2;
  }
}
