.reviews__description {
  font-size: 15px;
  line-height: 30px;
  color: $text-color;
}

.reviews__author-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $title-color;
  font-style: normal;
}

.reviews__author-mail {
  font-size: 17px;
  line-height: 30px;
}
