.reviews {
  @include container();

  @media #{$tablet-widths} {
    background: url('/img/review@1x.jpg') left no-repeat;
  }

  .reviews__wrapper {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .reviews__item {
    margin: 0;
  }

  .reviews__description {
    @include text-decoration(15px, 30px);
    color: $gray-color;

    @media #{$tablet-widths} {
      @include text-decoration(17px, 30px);
    }
  }

  .reviews__author-name {
    @include text-decoration(17px, 24px);
    font-weight: bold;
    color: $black-color;
    font-style: normal;
  }

  .reviews__author-mail {
    @include text-decoration(17px, 30px);
    display: block;
  }

  .reviews__pagination {
    width: 260px;
    margin: 0 auto;

    @media #{$tablet-widths} {
      position: absolute;
      right: 0;
      bottom: 50px;
    }
  }

  .reviews__write-btn {
    margin: 0 auto;

    @media #{$tablet-widths} {
      position: absolute;
      right: 0;
      top: 70px;
    }

  }
}
