.theme {
  font-family: "Open Sans", "Arial", sans-serif;
  box-sizing: border-box;
  @include text-decoration();
  overflow-x: hidden;
  position: relative;
}

.theme__wrapper {
  @include wrapper();
}

.theme__header-top-inner {
  @media #{$tablet-widths} {
    border-right: 1px solid #ececec;

    &:last-child {
      border: none;
    }
  }

  @media #{$desktop-widths} {
    border-right: 1px solid #ececec;
  }
}

.theme__main-nav-list {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }

  @media #{$tablet-widths} {
    z-index: 1;

    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.theme__page-title {
  @include text-decoration(27px, 30px);
  font-weight: bold;
  color: $black-color;
  text-align: center;
  margin: 0;

  @media #{$tablet-widths} {
    @include text-decoration(43px, 50px);
  }
  @media #{$desktop-widths} {
    @include text-decoration(53px, 57px);
  }
}

.theme__promo-link {
  @include text-decoration(19px, 24px);
  position: relative;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  height: 104px;
  width: 100%;

  display: flex;
  align-items: center;
  transition: 0.2s;

  &::after {
    position: absolute;
    opacity: 0.2;
  }

  @media #{$tablet-widths} {
    @include text-decoration(20px, 30px);
    height: 119px;

    &:hover {
      height: 124px;
    }
  }
}

.theme__section-title {
  @include text-decoration(25px, 30px);
  color: $black-color;
  text-align: left;
  margin: 0;

  @media #{$tablet-widths} {
    @include text-decoration(43px, 50px)
  }
  @media #{$desktop-widths} {
    @include text-decoration(53px, 57px);
  }
}

.theme__about-description {
  margin: 0;
  padding: 0;

  @media #{$tablet-widths} {
    width: 334px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media #{$desktop-widths} {
    width: 350px;
    padding-left: 5px;
  }
}

.theme__about-item {
  @include text-decoration(17px, 20px);
  list-style-type: none;
  font-weight: bold;
  color: $black-color;
  padding-top: 50px;
  margin-bottom: 33px;
  position: relative;

  &::before {
    position: absolute;
    top: -3px;
    left: 8px;
    z-index: 1;
  }

  @media #{$tablet-widths} {
    @include text-decoration(20px, 22px);
    padding-right: 40px;
    margin-bottom: 62px;
  }
}

.theme__reviews-pagination {
  background: none;
  border: 1px solid #ececec;
  height: 52px;
  font-size: 0;
  line-height: 0;
  outline: none;

  flex-basis: 130px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media #{$tablet-widths} {
    border: none;
  }
}

.theme__form {
  position: relative;
  margin: 0 30px;
  min-width: 260px;
  box-sizing: border-box;

  @media #{$tablet-widths} {
    width: 668px;
    padding-left: 150px;
    margin: 0 auto;
  }

  @media #{$desktop-widths} {
    width: 1050px;
    padding-left: 158px;
    margin: 0 auto;
  }
}

.theme__form-wrapper {
  margin-bottom: 34px;
}

.theme__form-title {
  @include text-decoration(17px, 16px);
  font-weight: bold;
  color: $green-color;
  text-transform: uppercase;

  @media #{$tablet-widths} {
    position: absolute;
    left: 0;
    top: 15px;
  }
  @media #{$desktop-widths} {
    left: 65px;
    top: 15px;
  }
}

.theme__input {
  border: none;
  border-bottom: 2px solid $black-color;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-bottom: 23px;

  @media #{$tablet-widths} {
    margin-bottom: 28px;
  }
}

.theme__input:hover {
  border-bottom: 2px solid $green-color;
}

.theme__input:focus {
  border-bottom: 2px solid $green-color;
}
