.theme {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  @include text-decoration();

  .theme__wrapper {
    @include wrapper();
  }

  .theme__header-top-inner {
    @media #{$tablet-widths} {
      border-right: 1px solid #ececec;

      &:last-child {
      border: none;
    }
    }

    @media #{$desktop-widths} {
      border-right: 1px solid #ececec;
    }

  }

  .theme_wrapper-page-title {
    background-color: $bg-color;
  }

  .theme__page-title {
    @include text-decoration(27px, 30px);
    font-weight: bold;
    color: $black-color;
    text-align: center;

    @media #{$tablet-widths} {
      @include text-decoration(43px, 50px);
    }
  }

  .theme__promo-link-wrapper {

  }

  .theme__promo-link {
    @include text-decoration(19px, 24px);
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    display: block;
    height: 100px;
    width: 100%;
  }

  .theme__section-title {
    @include text-decoration(25px, 30px);
    color: $black-color;
    text-align: left;

    @media #{$tablet-widths} {
      @include text-decoration(43px, 50px)
    }
  }

  .theme__about-description {
    margin: 0;
    padding: 0;
  }

  .theme__about-item {
    @include text-decoration(17px, 20px);
    list-style-type: none;
    font-weight: bold;
    color: $black-color;
    padding-top: 70px;
    position: relative;

    @media #{$tablet-widths} {
      @include text-decoration(20px, 22px);
      padding-right: 50px;
    }
  }

  .theme__form-title {
    @include text-decoration(17px, 16px);
    font-weight: bold;
    color: $green-color;
    text-transform: uppercase;
  }

  .theme__footer-inner {
    flex-basis: 33%;
  }
}
