.week-item {
  position: relative;

  @include container();
  margin-bottom: 50px;

  @media #{$tablet-widths} {
    margin-bottom: 50px;
  }

  @media #{$tablet-widths-only} {

    &::after {
      content: "";
      position: absolute;
      bottom: -50px;
      left: 0;
      right: 0;
      height: 34px;
      background: url(/img/bg-zigzag-line.svg) repeat-x center;
    }
  }

  @media #{$desktop-widths} {
    margin-bottom: 70px;
  }
}

.week-item__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;


  @media #{$desktop-widths} {
    margin-top: 70px;
    padding-left: 175px;
    box-sizing: border-box;
    padding-top: 70px;

    &::after {
      content: "";
      position: absolute;
      bottom: -50px;
      left: 0;
      right: 0;
      height: 34px;
      background: url(/img/bg-zigzag-line.svg) repeat-x center;
    }
  }
}


.week-item__title {
  margin: 0;
  margin-bottom: 5px;
  align-self: flex-start;
  z-index: 1;

  @media #{$tablet-widths} {
    margin-bottom: 50px;
  }
}

.week-item__info {
  @include text-decoration(17px, 20px);
  font-weight: bold;
  color: $green-color;
  text-transform: uppercase;
  margin-bottom: 23px;

  align-self: flex-start;

  @media #{$tablet-widths} {
    position: absolute;
    right: 0;
    top: 15px;
    width: 80px;
    text-align: center;
    line-height: 17px;
  }
  @media #{$desktop-widths} {
    left: 50px;
    top: 85px;
  }
}

.week-item__discr {
  @include text-decoration(15px, 24px);
  color: $gray-color;
  margin: 0;
  margin-bottom: 15px;

  @media #{$tablet-widths} {
    @include text-decoration(17px, 30px);
    width: 290px;

    align-self: flex-start;
  }
}

.week-item__prop {
  margin-bottom: 30px;
  width: 100%;

  @media #{$tablet-widths} {
    width: 290px;
    margin-bottom: 50px;

    align-self: flex-start;
  }

  @media #{$desktop-widths} {
    margin-bottom: 105px;
  }
}

.week-item__table-data {
  @include text-decoration(15px, 20px);
  color: $gray-color;
  border-bottom: 1px solid $bg-color;
  padding-top: 10px;
  padding-bottom: 7px;
  padding-right: 20px;

  @media #{$tablet-widths} {
  }
}

.week-item__photo {
  background-color: $bg-color;
  margin-bottom: 24px;

  align-self: stretch;
  display: flex;
  justify-content: center;

  @media #{$tablet-widths} {
    position: absolute;
    right: 0;
    top: 100px;
  }
  @media #{$desktop-widths} {
    top: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.week-item__price {
  @include text-decoration(17px, 24px);
  font-weight: bold;
  color: $gray-color;
  text-align: center;
  display: block;
  margin-bottom: 25px;

  @media #{$tablet-widths} {
    align-self: flex-start;
    margin-bottom: 35px;
    width: 290px;
  }
  @media #{$desktop-widths} {
    @include text-decoration(20px, 24px);
  }
}

.week-item__btn {

  @media #{$tablet-widths} {
    align-self: flex-start;
    width: 290px;
  }
}
